<h1>Home</h1>

<p>	
	<table>
			<tr>
		    <th>Project Name</th>
		    <th>Group Name</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		<% @projects.each do |project| %>
		<tr>
			<td><%= project.name %></td>
			<td><%= project.group %></td>
		</tr>
		<% end %>
	</table>
</p>