<h1>Submit a new project</h1>
<p>
<%= form_tag(action: :create, method: "get") do %>
	Project name: <%= text_field_tag(:name)%>
	Group name: <%= text_field_tag(:group)%>
	<%= button_to "Create", action: :create %>
<% end %>
</p>